<ul id="message-nav">
  <%= list_link_with_active t('message.inbox'), messages_path %>
  <%= list_link_with_active t('message.sent'), sent_messages_path %>
  <%= list_link_with_active t('message.trash'), trash_messages_path %>
  <%# TODO: be able to select people on the messages page %>
  <!-- <li class="compose"><%= link_to t('message.new_message'), new_message_path %></li> -->
</ul>