<%- unless groups.empty? -%>
  <%- if title -%>
    <h3><%= title %></h3>
  <%- end -%>
  <% if groups.count > Person::MAX_DEFAULT_CONTACTS and link %>
    <div class='see_all_link'>
      <%= link_to "All #{title}",
        link == "admin" ? admin_groups_person_path(@person) : groups_person_path(@person) %>
    </div>
  <% end %>
  <ul class="grid contacts medium">
    <%- some_groups.each do |group| -%>
      <%= render :partial => 'shared/contact', :locals => {:contact => group} %>
    <%- end -%>
  </ul>
<%- end -%>