<% form_for @person, :html => { :id => "change_password" } do |f| %>

  <h3>Change Password</h3>

  <div class="form_row">
    <label for="person_verify_password">Current Password</label>
    <%= f.password_field :verify_password,
                         :maxlength => Person::MAX_PASSWORD %>
  </div>

  <div class="form_row">
    <label for="person_new_password">New Password</label>
    <%= f.password_field :new_password,
                         :maxlength => Person::MAX_PASSWORD %>
  </div>

  <div class="form_row">
    <label for="person_password_confirmation">Confirm Password</label>
    <%= f.password_field :password_confirmation, 
                         :maxlength => Person::MAX_PASSWORD,
                         :value => "" %>
  </div>
  <div class="form_row">
    <%= submit_tag 'Change password', :class => "button" %>
    <input type="hidden" name="type" value="password_edit" />
  </div>
  
<% end %>