<%- if title.length > 0 -%>
  <h3><span class="fn n"><%= title %> <%=t ('group.of_group', :group => h(@group.name)) %></span></h3>
<%- end -%>
<%- unless members.empty? -%>
  <ul class="grid contacts medium">
    <%- members.each do |contact| -%>
      <%= render :partial => 'shared/contact', :locals => {:contact => contact} %>
    <%- end -%>
  </ul>
<%- else -%>
  <h4><%=t ('group.no_members_yet') %></h4>
<%- end -%>