<%- unless @some_contacts.empty? -%>
  <h2><%=t ('person.contacts') %></h2>
  <ul class="grid contacts small">
    <%- @some_contacts.each do |contact| -%>
    <%= render :partial => 'shared/contact', :locals => {:contact => contact} %>
    <%- end -%>
    <li class="more">
      <%= link_to t('person.see_all_contacts'), person_connections_path(person) %>
    </li>
  </ul>
<%- end -%>