<div id="footer">
  <p id="footer-nav">
    <a href="/"><%=t ('home.dashboard') %></a> | 
    <a href="/messages"><%=t ('home.my_messages') %></a> | 
    <a href="/people"><%=t ('home.people') %></a> | 
    <a href="/forums"><%=t ('home.forum') %></a>
  </p>
</div>