<%- column_div :type => :primary, :id => 'photos' do -%>
  <% if !@photos.empty? %>
    <h2><%=t ('photo.persons_photos', :person => current_person.name) %></h2>
    <div class="button_container">
        <div class="button"><%= link_to t('photo.add_photo'), new_photo_path() %></div>
        <div class="clear"></div>
    </div>
    <ul class="">
      <%=render :partial=>"shared/photo", :collection => @photos%>
    </ul>
  </div>
  <% else %>
    <h2><%= t('photo.no_photos_to_show') %></h2>
  <% end %>
<% end %>