<h2><%=t ('post.edit_post') %></h2>

<%= error_messages_for :post %>

<%= render :partial => 'forum_form',
           :locals => { :url => forum_topic_post_path(@forum, @topic, @post),
                        :method => :put } %>